[user]
	email = celorisoli@gmail.com
	name = Marcelo Risoli
	signingkey = /Users/mrisoli/.ssh/id_ed25519
[includeIf "hasconfig:remote.*.url:git@github.com:snyk*"]
	path = ~/.gitconfig-snyk
[includeIf "hasconfig:remote.*.url:https://github.com/snyk*"]
	path = ~/.gitconfig-snyk
[core]
	editor = nvim
[init]
	defaultBranch = main
[pull]
	rebase = false
[push]
	autoSetupRemote = true
[gpg]
	format = ssh
[commit]
	gpgsign = true
